*{
    margin:0;
    
}
body{
    /* display: flex; */
    background:#457B9D;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.container{
    text-align: center;
    margin: 80px;
    height: 500px;
    padding-top: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}
.cont{
    border-right:solid rgb(206, 206, 206) 1px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;

}
/* .cont :first-child{
    border-left: none;
} */
img{
    width: 300px;
    height: 200px;
}
h2{
    color:grey;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
li{
    padding-top: 10px;
    width: 300px;
    list-style-type: none;
    color:#4285F4;
    overflow-wrap:break-word;
    /* background-color: rgb(228, 201, 201); */
}
p{
   margin-top: 10px;
    color:#4285F4;
    font-weight: bold;
    font-size: 22px;

}
button{
    margin-top: 10px;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
    border-radius:  10px;
    border: solid  1px;
    background-color: white;
    color: blue;
    
}
.cont > button:hover{
    background-color:rgba(181, 218, 253, 0.692);
}

button:hover{
    cursor: pointer;
    
}
.small{
    background-color: #4285F4;
    color: rgb(255, 255, 255);
}
















